header{
    width: 100%;
    top: 32px;
    position: fixed;
    left: 0;
    z-index: 91;
    transition: transform 0.4s ease;
}

.header .container{
    position: relative;
}
.header-main{
    padding: 24px 48px;
    background: rgba(244, 244, 244, 1);
    border-radius: 40px 40px;
    transition: 0.4s;
    margin-left: auto;
    width: 100%;
}
header.hide .header-main{
    background: rgba(244, 244, 244, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width:732px;
    transition:0.7s;
}
.logo{
    width: 255px;
}
.logo img{
    width: 100%;
}
header.hide .logo {
    width: 195px;
}
.header-cnt{
    gap: 16px;
}
.header-phone{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 24px;
    background: #ffffff;
    cursor: pointer;
    border-radius: 50px;
    gap: 12px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    color: #262B31;
    transition: 0.3s;
    white-space: nowrap;

}
.header-phone .icon-phone{
    transition: 0.3s;
}

header.hide .header-phone{
    padding: 15px 15px;
}

header.hide .phone-number{
    display: none;
}

.open-menu{
    padding: 15px 24px;
    background: #ffffff;
    cursor: pointer;
    border-radius: 50px;
    gap: 12px;
    transition: 0.3s;

}
.open-menu:hover{
    background: #DCDDDF;

}
.open-menu-line{
    width: 20px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    transition: 0.3s;
}
.open-menu-line span{
    width: 100%;
    display: block;
    height: 2px;
    background: rgba(38, 43, 49, 1);
    border-radius: 5px;
    transition: 0.3s;
}
.open-menu span{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: rgba(38, 43, 49, 1);
}


.btn{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    width: max-content;
    border-radius: 500px;
    padding: 12px 24px;
    background: rgba(196, 157, 118, 1);
    transition: 0.3s;
    border: 2px solid rgba(196, 157, 118, 1);
}
.btn:hover{
    background: #262B31;
}
header .btn:hover{
    border: 2px solid rgba(196, 157, 118, 1);
}

.head-menu{
    box-shadow: 4px 4px 30px 0px rgba(83, 99, 116, 0.3);
    background: #FFFFFF;
    width: 360px;
    padding: 24px;
    border-radius: 40px;
    position: absolute;
    top: 88px;
    right: 53px;
    z-index: 9991;
    display: none;
}
.menu-opened{
    display: block;
}
.head-menu ul{
    gap: 4px;
}
.head-menu ul li{
    display: flex;
}
.head-menu a{
    width: 100%;
    transition: 0.3s;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    color: rgba(0, 0, 0, 0.60);
    padding: 12px 16px;
    border-radius: 16px;
}
.head-menu a:hover{
    background: rgba(244, 244, 244, 1);
    color: rgba(51, 51, 51, 1);
}



@media (max-width: 1399px){
    .header-main {
        padding: 16px 24px;
        background: rgba(244, 244, 244, 1);
        border-radius: 30px 30px;
    }
    .open-menu {
        padding: 10px 20px;
        gap: 8px;
    }
    .logo {
        width: 205px;
    }
    .head-menu {
        top: 75px;
    }
    .btn {
        font-size: 16px;
        line-height: 16px;
        padding: 11px 24px;
    }
    header {
        top: 20px;
    }
    .head-menu {
        top: 78px;
        right: 18px;
        border-radius: 30px;
        padding: 24px;
        width: 329px;
    }
    .head-menu a {
        padding: 12px 14px;
    }
    .header-phone {
        padding: 11px 20px;
        gap: 8px;
        font-size: 16px;
        line-height: 16px;
    }
    .header-phone .icon-phone {
        width: 20px;
    }
    .open-menu-line {
        width: 18px;
        gap: 3px;
    }
    .head-menu a {
        padding: 8px 13px;
        font-size: 15px;
    }
    .head-menu {
        top: 67px;
        right: 18px;
        padding: 20px 16px;
        width: 315px;
    }
    header.hide .header-phone {
        padding: 11px 11px;
    }
    .developer-ren-cnt {
        min-height: 480px;
    }
    header.hide .header-main {
        width: 640px;
    }



}
@media (max-width: 1199px){
    .logo {
        width: 170px;
    }
    .head-menu a {
        padding: 10px 13px;
    }
    header {
        top: 12px;
    }
    .header-main {
        padding: 15px 16px 15px;
        background: #F4F4F4;
        border-radius: 24px;
    }
    header.hide .header-phone {
        padding: 12px 12px;
    }
    .open-menu span {
        font-size: 14px;
        line-height: 18px;
    }
    .open-menu {
        padding: 12px 17px;
        gap: 8px;
    }

    header.hide .header-main {
        width: 625px;
    }
    .header-phone {
        padding: 12px 19px;
        gap: 8px;
        font-size: 14px;
        line-height: 18px;
    }
    .header-phone .icon-phone {
        width: 18px;
    }
}
@media (max-width: 1020px){
    .header-cnt .btn{
        display: none;
    }
    header.hide .header-main {
        width: 100%;
    }
    .open-menu>span{
        display: none;
    }
    header.hide .logo {
        width: 170px;
    }
    .phone-number{
        display: none;
    }

    header.hide .header-phone {
        padding: 6px 6px;
    }

    .header-phone {
        padding: 6px 6px;
    }
    .header-phone .icon-phone {
        width: 14px;
    }
    .open-menu {
        padding: 0;
        width: 24px;
        height: 24px;
        justify-content: center;
        background: unset;
    }
    .open-menu span{
        position: relative;
        width: 100%;
    }
    .close-menu span:last-child{
        display: none;
    }
    .close-menu span:nth-child(1){
        transform: rotate(45deg);
        top: 3px;
    }
    .close-menu span:nth-child(2){
        transform: rotate(-45deg);
        top: -3px;
    }
    .header-main {
        padding: 16px 24px;
    }
    .head-menu {
        top: 53px;
        right: 20px;
        border-radius: 24px;
        padding: 18px;
        width: 270px;
    }
    header {
        top: 20px;
    }
    .head-menu a {
        padding: 9px 14px;
    }
    .open-menu:hover {
        background: unset;
    }
}
@media (max-width: 767px){

}
@media (max-width: 570px){
    .head-menu {
        top: 77px;
        position: fixed;
        right: 20px;
    }
    .header-main {
        padding: 19px 24px;
    }

}